/VendBot/.vs/VendBot/v15/.suo
/VendBot/.vs/VendBot/v15/Server/sqlite3/db.lock
/VendBot/.vs/VendBot/v15/Server/sqlite3/storage.ide
/VendBot/.vs/VendBot/v15/Server/sqlite3/storage.ide-shm
/VendBot/.vs/VendBot/v15/Server/sqlite3/storage.ide-wal
/VendBot/VendBot/.gitignore
/VendBot/VendBot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/VendBot/VendBot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/VendBot/VendBot/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
