@{
    ViewBag.Title = "Home Page";
    int columns = 16;
}

<link rel="stylesheet" href="~/Styles/vend.css"/>

<div class="row">
    <div class="vend clearfix">
        <!-- 4 x 4 grid-->
        @for (var i = 0; i < columns; i++)
        {
            <div class="vend-column">
                <!--image-->
                <!--Id-->
                <!--Counter-->
            </div>
        }
    </div>
</div>