@model IList<VendBot.Models.Item>

@{
    ViewBag.Title = "Home Page";
    int columns = 16;
}

<link rel="stylesheet" href="~/Styles/vend.css"/>

<div class="row">
    <div class="vend clearfix">
        <!-- 4 x 4 grid-->
        @foreach(var item in Model)
        {
            <div class="vend-column">
                <!--image-->
                <!--Id-->
                <div id="vend-item-id">@item.Id</div>
                <div id="vend-item-name">@item.Name</div>
                <div id="vend-item-quantity">Quantity left: @item.Quantity</div>
                <!--Counter-->
            </div>
        }
    </div>
</div>