body {
    background: #000;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.vend {
    box-shadow: 0 0 23px 0 rgba(101, 104, 120, 0.25);
    margin: 30px auto;
    padding: 20px;
    width: 640px;
    clear: both;
    background: silver;
}

.vend-column {
    width: 24%;
    height: 150px;
    float: left;
    box-shadow: 0 0 23px 0 rgba(101, 104, 120, 0.25);
    margin: 3px;
    background: white;
    text-align: center;
    vertical-align: middle;
}

.vend-column img {
    width: 50%;
}
